*{
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.super-outer{
    height: 100%;
    width: 100%;
    background-image: url("BackgroundImageSnake1.png");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game-header, .game-button{
    width: 100%;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, #d79a00, #ffb700, #ffd365, #ffb700, #d79a00);
}

#heading{
    height: 50px;
    width: 120px;
    padding: 5px;
}

.game-screen{
    height: 625px;
    width: 625px;
    background-color: lightcoral;
    border: 10px solid brown;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.pixels{
    height: 24px;
    width: 24px;
    border: 0.1px solid brown;
}

.fruitClass{
    background-color: red;
}

.snakeBodyClass{
    background-color: #479719;
}

.StartStop{
    height: 40px;
    width: 120px;
    background-color: #ffac38;
    color: #F25C2A;
    border-radius: 16px;
    border-color: black;
    border-style: solid;
    border-width: 1.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
}

.StartStop > img{
    height: 30px;
}

.StartStop:hover{
    background: linear-gradient(90deg, #d79a00, #ffb700, #ffd365, #ffb700, #d79a00);
}